/* Basic styles */
:root {
 --soft-orange: hsl(35, 77%, 62%);
 --soft-red: hsl(5, 85%, 63%);
 --off-white: hsl(36, 100%, 99%);
 --grayish-blue: hsl(233, 8%, 79%);
 --dark-grayish-blue: hsl(236, 13%, 42%);
 --very-dark-blue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    overflow-x: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    font-size: 0.88rem;
    font-family: 'Inter';
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-white);
}

header {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 4rem 2rem;
}

/*basic button styling*/
.menu-toggle {
    display: none;
    border: none;
    transition: all 0.3s ease;
    background-color: rgba(0,0,0,0);
    position: relative;
}

.menu-toggle:hover{
    cursor: pointer;
    scale: 1.02;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.14);
}

/* basic styling for menu bar */
.primary-navigation {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    color: var(--dark-grayish-blue);
    font-size: 1rem;
}

/* media query for menu and mobile navigation */
@media (max-width: 600px) {
    
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        background-color: var(--off-white);
        flex-direction: column;
        padding: min(30vh, 13rem) 2rem;
        gap: 2rem;
        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }
    
    .primary-navigation li {
        font-weight: 500;
        font-size: 1.2rem;
    } 
    
    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }
        
    .menu-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        top: 2rem;
        right: 2rem;
        background-image: url("assets/images/icon-menu.svg");
        background-position: 50%;
        background-repeat: no-repeat;
        width: 4rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: white;
    }
    
    .menu-toggle[aria-expanded="true"]{
        background-image: url("assets/images/icon-menu-close.svg");
    }

    .primary-navigation li:hover {
        cursor:pointer;
    }
}

/* main block of content */
main {
    width: 100%;
    padding: 0 2rem;
}

/* mobile for first article bellow */
article {
    width: 100%
}

article img {
    width: 100%;
}

article h1 {
    margin-top: 1rem;
    font-size: 2.7rem;
    width: 15rem;
    color: var(--very-dark-blue);
    font-weight: 700;
}

article p {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--dark-grayish-blue);
    font-weight: 300;
}

article button {
    text-transform: uppercase;
    font-family: 'Inter';
    background-color: var(--soft-red);
    color: white;
    width: 15rem;
    border: none;
    height: 3.5rem;
    margin-top: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    transition: all 0.3s ease;
}

article button:hover {
    scale: 1.02;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    background-color: var(--very-dark-blue);
}

/* "New" box with dark blue background */

.new-posts {
    background-color: var(--very-dark-blue);
    color: white;
    padding: 1.3rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.new-posts h2 {
    color: var(--soft-orange);
    font-size: 2rem;
    margin-bottom: 1.3rem;
}

.new-posts h3 {
    font-size:1.2rem;
    margin-bottom: 0.88rem;
}

.new-posts p {
    margin-bottom: 1.2rem;
    color: var(--grayish-blue)
}

.new-posts .line{
    background-color: rgba(255, 255, 255, 0.3);
    height: 1px;
    margin-bottom: 1.2rem;
}

/* top 01, 02, 03 posts bellow */
/* Flex styling */

.top-posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.post {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
}


.post img {
    margin-right: 1rem;
    height: 10rem;
}

.text {
    margin-left: 1rem;
    height: 100%;
}

.text h1 {
    color: var(--grayish-blue);
    margin-bottom: 0.5rem;
    font-size: 2rem; 
}

.text h4 {
    color: var(--very-dark-blue);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.text p {
    color: var(--dark-grayish-blue);
    line-height: 1.2rem;
    width: 90%;
}

.top-posts .post:nth-child(3) {
    margin-bottom: 5rem;
}

/* Media querries for desktop version */

@media (min-width:1000px) {

    body {
        padding: 3rem 10rem
    }

    main {
        overflow: none;
        display: grid;
        grid-template: repeat(3, 30%) / repeat(3, 1fr);
        row-gap: 2rem;
        column-gap: 1.5rem;
    }

    .logo {
        width: 3rem;
    }

    article {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        row-gap: 1rem;
        column-gap: 1.5rem;
        height: 100%;
    }

    article img {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
    }

    article button {
        width: 13rem;
        font-size: 0.7rem;
        letter-spacing: 0.4rem;
    }

    article h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        height: 100%;
        width: 90%;
    }

    article p {
        font-size: 1.09rem;
        line-height: 1.5rem;
    }

    .title-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .new-posts {
        margin: 0;

        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .new-posts h2 {
        font-size: 2.4rem;
    }

    .new-posts h3 {
        font-size: 1.3rem;
    }

    .new-posts p {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .primary-navigation li:hover {
        color: var(--soft-orange);
        cursor: pointer;
    }
    
    .new-posts h3:hover {
       color: var(--soft-orange);
       cursor: pointer;
    }

    .top-posts {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        column-gap: 1.5rem;
    }

    .text {
        width: 11rem;
    }
    .top-posts .post:nth-child(3) {
        margin-bottom: 0;
    }
 
    .post {
        justify-content: flex-start;
        margin: 0;
        width: 100%;
    }
    
    .post img {
        margin:0;

    }

}